/* I N D E X  P A G E */

/* layanan */
.layanan .card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.layanan .carder {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgb(17 26 104 / 20%);
  display: inline-block;
  /* height: 2rem; */
  max-width: 17rem;
  padding: 55px 24px;
  margin: 1rem;
  text-align: center;
  transition: all 0.4s;
}

.layanan .carder:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgb(17 26 104 / 30%);
}

.layanan .card-icon {
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 50%;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: 2rem;
}

.service-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.service-description {
  font-size: 0.9rem;
}

.service-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.service-price::before {
  content: "Mulai dari";
  display: block;
  font-size: 0.7rem;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}

@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: var(--green);
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# kualitas
--------------------------------------------------------------*/
.kualitas-icons {
  margin-top: 120px;
}

.kualitas-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .kualitas-icons h3 {
    font-size: 28px;
  }
}

.kualitas-icons .content .icon-box {
  display: flex;
}

.kualitas-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

.kualitas-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.kualitas-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}

/* pelanggan */

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 10px auto;
}

.testimonials .swiper-slider {
  /* opacity: 0.3; */
}

@media (max-width: 1199px) {
  .testimonials .swiper-slider-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slider-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-slider .swiper-slide img {
  opacity: 0.2;
  color: #848484;
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

/* payment */
.payment .img-box img {
  padding-left: 1rem;
  opacity: 0.3;
  transition: 0.3s;
}

.payment .img-box img:hover {
  opacity: 1;
}

/* mulai */
.mulai .label h2 {
  font-size: 2.4rem;
  /* font-weight: 600; */
  color: var(--white);
}

/* H O S T I N G  P A G E */

/* C L O U D  P A G E */

.vps-price {
  background: #f6fbff;
  padding: 30px 0 20px;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .vps-price {
    padding: 120px 0;
  }
}
.vps-price--desktop {
  display: none;
}
@media only screen and (min-width: 992px) {
  .vps-price--desktop {
    display: unset;
  }
}
.vps-price--mobile {
  background: #f6fbff;
  display: unset;
  padding: 30px 0 40px;
}
@media only screen and (min-width: 992px) {
  .vps-price--mobile {
    display: none;
  }
}
.vps-price__niagahoster-point {
  color: rgba(58, 65, 102, 0.7);
  font-family: NunitoSansRegular, sans-serif;
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 15px;
}
.vps-price__title {
  color: #3a4166;
  font-family: NunitoSansBold, sans-serif;
  font-size: 1.875rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .vps-price__title {
    font-size: 2rem;
  }
}
.vps-price__description {
  color: rgba(58, 65, 102, 0.7);
  font-family: NunitoSansRegular, sans-serif;
  font-size: 1.125rem;
  line-height: 150%;
  padding: 10px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .vps-price__description {
    line-height: 177%;
    margin-top: 20px;
  }
}
.vps-price__table {
  padding: 30px 30px 0;
}
@media only screen and (min-width: 992px) {
  .vps-price__table {
    padding: 60px 0 0;
  }
}
.vps-price__card-desktop {
  padding-top: 50px;
}
@media only screen and (min-width: 992px) {
  .vps-price__card-desktop {
    padding: 100px 0 0;
  }
}
.vps-price__card-desktop table {
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0 30px;
  width: 100%;
}
.vps-price__card-desktop table th {
  padding: 0 0 32px 30px;
}
.vps-price__card-desktop table td {
  padding: 45px 10px 0 30px;
  vertical-align: initial;
}
.vps-price__card-desktop tbody tr {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15) !important;
  -moz-box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
}
.vps-price__card-desktop tbody tr:hover .vps-price__tooltip {
  display: block !important;
}
.vps-price__card-desktop tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.vps-price__card-desktop tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.vps-price__card-mobile {
  background: #fff;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0 1em;
  margin-bottom: 20px;
  padding: 30px;
}
.vps-price__card__title {
  color: #3a4166;
  font-family: NunitoSansBold, sans-serif;
  font-size: 1.875rem;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .vps-price__card__title {
    color: rgba(58, 65, 102, 0.7);
    font-size: 1.25rem;
  }
}
.vps-price__card__list {
  color: #3a4166;
  font-family: NunitoSansRegular, sans-serif;
  font-size: 1.125rem;
  margin-bottom: 20px;
  text-align: left;
}
@media only screen and (min-width: 992px) {
  .vps-price__card__list {
    font-size: 1.25rem;
  }
}
.vps-price__card__list--mini {
  color: #757a94;
  font-size: 0.875rem;
}
.vps-price__card__button-position {
  padding: 10px 0 0;
  text-align: center;
}
.vps-price__card--label-best {
  background: #00bfa5;
  border-radius: 8px 8px 0 0;
  color: #fff;
  /* font-family: NunitoSansBold, sans-serif; */
  font-size: 25px;
  margin: -40px -30px;
  position: relative;
  padding: 10px 0;
  z-index: 1;
}
.vps-price__card--label-best:before {
  content: "Best Seller";
}
@media only screen and (min-width: 992px) {
  .vps-price__card--label-best {
    transform: rotate(-90deg);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 5px 0;
    right: 29px;
    text-align: center;
    top: 521px;
    width: 146px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .vps-price__card--label-best {
    right: 0;
    top: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .vps-price__card--label-best {
    margin: -40px -55px;
    top: 440px;
    width: 190px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .vps-price__card--label-best {
    right: 50px;
    top: 660px;
    width: 190px;
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .vps-price__card--label-best {
    margin-left: -55px;
    right: 0;
    width: 140px;
  }
}
.vps-price__card--label-discount {
  background: #ee4957;
  border-radius: 5px;
  bottom: -23px;
  color: #fff;
  /* font-family: NunitoSansBold, sans-serif; */
  font-size: 0.875rem;
  padding: 2px 4px;
  position: relative;
  right: 76px;
  transform: translateX(-50%);
  width: 100px;
}
@media only screen and (min-width: 992px) {
  .vps-price__card--label-discount {
    bottom: 130px;
    right: -50%;
  }
}
@media only screen and (min-width: 1200px) {
  .vps-price__card--label-discount {
    bottom: 95px;
    right: -50%;
  }
}
.vps-price__card--label-discount:after {
  border: 12px solid transparent;
  border-top-color: #ee4957;
  content: "";
  left: 97%;
  position: absolute;
  top: 5%;
  transform: rotate(-90deg);
}
@media only screen and (min-width: 992px) {
  .vps-price__card--label-discount:after {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }
}
.nh-tooltip-item,
.nh-tooltip-item td {
  position: relative;
}
.nh-tooltip-item:hover .nh-tooltip-item__point {
  visibility: visible;
}
.nh-tooltip-item__point {
  box-shadow: 0 1px 4px rgba(17, 26, 104, 0.15);
  -webkit-box-shadow: 0 1px 4px rgba(17, 26, 104, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(17, 26, 104, 0.15);
  background: #fff;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  visibility: hidden;
  width: 160px;
  padding: 6px 5px 7px;
  bottom: calc(100% + 25px);
  left: 0;
}
.nh-tooltip-item__point:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 65px;
  box-sizing: border-box;
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  border-width: 11px;
  transform-origin: 0 0;
  transform: rotate(-47deg);
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-47deg);
  box-shadow: -1px 1px 4px 0 rgba(17, 26, 104, 0.15);
  -webkit-box-shadow: -1px 1px 1px rgba(17, 26, 104, 0.15);
}
.nh-tooltip-item__point--centered {
  left: 50%;
  transform: translateX(-50%);
}

/* fitur vps */
.cloud-vps-feature {
  background: linear-gradient(
    155.7deg,
    #007aff 18.24%,
    #00349b 165%,
    #0040ac 0
  );
  padding: 50px 0;
}
@media only screen and (min-width: 992px) {
  .cloud-vps-feature {
    padding: 100px 0;
  }
}
.cloud-vps-feature__box {
  background: #fff;
  box-shadow: 0 6px 15px rgba(17, 26, 104, 0.3);
  border-radius: 8px;
  padding: 20px;
}
@media only screen and (min-width: 992px) {
  .cloud-vps-feature__box {
    padding: 80px 70px;
  }
}
.cloud-vps-feature__title {
  color: #3a4166;
  font-family: NunitoSansBold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: normal;
  margin-bottom: 15px;
}
.cloud-vps-feature__line {
  border: 5px solid #007aff;
  margin: 28px 48px 28px 0;
  width: 90px;
}
.cloud-vps-feature__list > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 0 -65px;
}
@media only screen and (min-width: 992px) {
  .cloud-vps-feature__list > ul {
    flex-wrap: wrap;
    height: 280px;
  }
}
.cloud-vps-feature__list > ul li {
  color: rgba(58, 65, 102, 0.7);
  font-size: 0.9rem;
  min-height: 60px;
  margin-bottom: 10px;
  margin-left: 65px;
  position: relative;
  max-width: 270px;
}
.cloud-vps-feature__list > ul li:before {
  color: #007aff;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-size: 1.0625rem;
  font-weight: 700;
  left: -35px;
  padding: 0;
  position: absolute;
  top: 0;
}

/*--------------------------------------------------------------
# Panel
--------------------------------------------------------------*/
.panel .nav-tabs,
.langkah .nav-tabs {
  border: 0;
}

.panel .nav-link {
  border: 0;
  padding: 20px;
  transition: 0.3s;
  color: #21413c;
  display: flex;
  align-items: center;
}

.panel .nav-link:hover {
  color: #1bac91;
}

.panel .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 1rem;
}

.panel .nav-link p {
  font-size: 14px;
  margin-bottom: 0;
}

.panel .nav-link.active {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
}

.panel .nav-link.active h4 {
  color: #1bac91;
}

.panel .tab-pane.active {
  -webkit-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.panduan .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.panduan .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}

.panduan .post-box .post-img img {
  transition: 0.5s;
}

.panduan .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}

.panduan .post-box .post-title {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}

.panduan .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}

.panduan .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}

/* .panduan .post-box:hover .post-title {
  color: #4154f1;
}

.panduan .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
} */

/* tanda */
.tanda .card {
  margin: 1rem;
  width: 23rem;
  box-shadow: 0 0 15px -5px;
  padding: 1rem;
}

.tanda .card i {
  font-size: 3rem;
}

/* D O M A I N  P A G E */

.harga span {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  font-family: sans-serif;
}

.harga span::after {
  content: "|";
  display: inline-block;
  margin-left: 0.5rem;
}

/* daftar */
.daftar .card {
  padding: 1rem;
}
.daftar .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue);
}
.daftar .card .btn-orange {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* harga domain */
.hd .form-select {
  font-size: 0.8rem;
  padding: 0.82rem;
  font-weight: 600;
}
.harga__domain table {
  margin-top: 1rem;
}
.harga__domain thead {
  padding: 1rem 0;
  background-color: var(--blue);
  color: #fff;
}
.harga__domain tr {
  padding: 20px 0;
  font-size: 0.9rem;
}
.harga__domain .btn-orange {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* B U A T W E B  P A G E */

.pilih__paket .nav,
.langkah .nav {
  background: var(--light-blue);
  /* width: 70%; */
  padding: 5px;
  border-radius: 50px;
}

.pilih__paket .nav-link {
  padding: 0.5rem 2.3rem;
  font-weight: 600;
  transition: 0.3s;
}

.pilih__paket .nav-link:hover {
  background-color: #bababa;
  border-radius: 50px;
}

.pilih__paket .nav-link.active,
.langkah .nav-link.active {
  border-radius: 50px;
  background-color: var(--orange);
}

/* web instan */

#portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #413e66;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio-flters li:hover,
#portfolio-flters li.filter-active {
  color: #1bb1dc;
}

#portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.portfolio-wrap img {
  border-radius: 20px;
}

.portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

.portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

.portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

.portfolio-item .portfolio-wrap .portfolio-info h4 {
  color: var(--text);
  font-weight: bold;
}

.portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #1bb1dc;
}

.portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #f8fcff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio-item .portfolio-wrap .portfolio-info .link-preview,
.portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 100px;
  height: 40px;
  background: #1bb1dc;
  border-radius: 50px;
  margin: 10px 4px 0 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.portfolio-item .portfolio-wrap .portfolio-info .link-preview,
.portfolio-item .portfolio-wrap .portfolio-info .link-details {
  /* font-size: 22px; */
  color: #fff;
  line-height: 0;
}

.portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
.portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #42c3e8;
}

.portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
.portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  color: #fff;
}

/* .portfolio-item .portfolio-wrap:hover {
  background: #282646;
} */

.portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* survey */
.survey .box__survey {
  padding: 4rem;
  border-radius: 10px;
  color: #fff;
}

.survey .box__survey h3 {
  font-weight: 600;
}

.survey .box__survey img {
  height: 200px;
}

/* A F I L I A S I  P A G E */
.manajemen__list li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  margin: 0 5px 0 -30px;
  color: #007aff;
  font-size: 16px;
}
.manajemen__list {
  margin-top: 1.2rem;
}
.manajemen__list .label {
  margin-top: -22px;
}

/* T R A N S F E R  P A G E */
/* E M A I L  P A G E */
.email li {
  margin-bottom: 0.8rem;
}

.email .free li::before {
  content: "-";
  color: red;
  /* display: inline-block; */
  padding: 0 5px;
  margin-right: 0.8rem;
  width: 30px;
  background-color: rgb(245, 191, 170);
  border-radius: 50%;
}

.email .hosting li::before {
  content: "+";
  color: var(--green);
  /* display: inline-block; */
  padding: 0 4px;
  margin-right: 0.8rem;
  width: 30px;
  background-color: rgb(149, 240, 235);
  border-radius: 50%;
}

.can .section-header {
  color: #fff;
}

#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  /* text-align: center; */
}

#services .box:hover {
  transform: scale(1.01);
}

#services .icon i {
  font-size: 36px;
  line-height: 0;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

.can h5 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* #services .box:hover .title a {
  color: #1bb1dc;
} */

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

#harga {
  padding: 80px 0;
}

@media (max-width: 991px) {
  #harga {
    padding-bottom: 30px;
  }
}

#harga .card {
  border: 0;
  border-radius: 0px;
  box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
  transition: all 0.3s ease-in-out;
  padding: 36px 0;
  position: relative;
}

@media (max-width: 991px) {
  #harga .card {
    margin-bottom: 50px;
  }
}

#harga .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #1bb1dc;
  transition: 0.5s;
}

#harga .card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#harga .card:hover:after {
  width: 100%;
}

#harga .card .card-header {
  background-color: white;
  border-bottom: 0px;
  -moz-text-align-last: center;
  text-align-last: center;
}

#harga .card .card-title {
  margin-bottom: 16px;
  color: #535074;
}

#harga .card .card-block {
  padding-top: 0;
  text-align: center;
}

#harga .card .list-group-item {
  border: 0px;
  padding: 6px;
  color: #413e66;
  font-weight: 300;
}

#harga .card h3 {
  font-size: 64px;
  margin-bottom: 0px;
  color: #535074;
}

#harga span::after {
  content: "";
  visibility: hidden;
  margin-right: -15px;
}

#harga .card h3 .currency {
  font-size: 30px;
  position: relative;
  font-weight: 400;
  top: -30px;
  letter-spacing: 0px;
}

#harga .card h3 .period {
  font-size: 16px;
  color: #6c67a3;
  letter-spacing: 0px;
}

#harga .card .list-group {
  margin-bottom: 15px;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

/* fitur */
.fitur .fitur__list {
  position: sticky;
}

.fitur .accordion-button {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 600;
}

.fitur .accordion-button:hover {
  color: var(--white);
}

.fitur .fitur__item {
  font-size: 1rem;
  /* height: 0; */
  line-height: 2em;
  /* opacity: 0; */
  overflow: hidden;
  /* padding: 0; */
  transition: all 0.3s ease-out;
}

.fitur__list .title {
  font-size: 1rem;
  color: #bababa;
}

.fitur__list .harga {
  font-size: 1.2rem;
  font-weight: 700;
}

.fitur__list .harga span {
  font-size: 0.8rem;
}

.fitur__list li {
  border: 0.3px solid #bababa;
  padding: 1rem;
}

.fitur__list li .btn-orange {
  padding: 0.5rem 1rem;
}

.fitur .feature-hi__list {
  border-bottom: 1px solid rgba(17, 26, 104, 0.1);
  color: rgba(58, 65, 102, 0.7);
  font-family: NunitoSansRegular, sans-serif;
  font-size: 0.875rem;
  list-style: none;
  width: 100%;
}

.fitur__item {
  border: 0.8px solid #999;
  border-radius: 5px;
  padding: 1.5rem 0.5rem;
}

.feature-hi__list--icon {
  align-items: center;
  /* border-left: 1px solid rgba(17, 26, 104, 0.1); */
  /* border-right: 1px solid rgba(17, 26, 104, 0.1); */
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: left;
  width: 350px;
}

.fitur__item th::after {
  content: "";
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  height: 1px;
  color: #000;
  background-color: #999;
}

.fitur__item thead {
  position: sticky;
}

th p {
  margin-bottom: -10px;
}
th span {
  font-size: 0.9rem;
}
th .ts {
  color: transparent;
  visibility: hidden;
}

.nh-tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nh-tooltip__text {
  font-size: 14px;
  visibility: hidden;
  display: inline-block;
  width: 240px;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  word-wrap: break-word;
  text-align: left;
}

.nh-tooltip__text--right {
  top: 50%;
  left: calc(100% + 4px);
  transform: translateY(-50%);
}

.nh-tooltip__text--right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.7);
}

.feature-hi__icon--absolute {
  position: absolute;
}
.feature-hi__icon {
  margin-right: 10px;
}

.feature-hi__icon:before {
  content: "\f059";
  color: rgba(58, 65, 102, 0.7);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
}

.feature-hi__list--item {
  /* border-right: 1px solid rgba(17, 26, 104, 0.1); */
  margin: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}
.feature-hi__list--item-check:before,
.feature-hi__list--item-not:before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  transition: all 0.6s;
}
.feature-hi__list--item-not:before {
  content: "\f00d";
  color: #ee4957;
}
.feature-hi__list--item-check:before {
  content: "\f00c";
  color: #00bfa5;
}
.feature-hi__list--popup {
  border-right: 1px solid rgba(17, 26, 104, 0.1);
  margin: 0;
  position: relative;
  text-transform: capitalize;
  width: 200px;
}
.nh-popup {
  position: relative;
  cursor: pointer;
}
.feature-hi__list--tooltip {
  border-right: 0;
  text-align: center;
  text-transform: uppercase;
}
.nh-popup__content {
  visibility: hidden;
  position: absolute;
  width: 380px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 1;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 3px 20px rgb(17 26 104 / 15%);
}
.nh-popup__content-list {
  display: flex;
  flex-direction: column;
  /* list-style: inside
    url(../layouts/images/2019/hosting-indonesia/ellipse-black.svg); */
  margin-bottom: 0;
  padding-left: 0;
}
.nh-popup__content:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  top: 0;
  left: calc(50% + 35px);
  box-sizing: border-box;
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  border-width: 20px;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -4px 4px 12px rgb(17 26 104 / 6%);
}

/* testimoni */

.testi .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testi .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testi .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testi .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testi .testimonial-item .quote-icon-left,
.testi .testimonial-item .quote-icon-right {
  color: #a8d3cc;
  font-size: 26px;
}

.testi .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testi .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testi .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #eff7f6;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testi .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testi .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1bac91;
}

.testi .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1bac91;
}

/* why us */
.why-us__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: 1.5rem;
}
.why-us__icon {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgb(0 87 178 / 16%);
  display: block;
  flex-shrink: 0;
  height: 100px;
  text-align: center;
  line-height: 120px;
  /* position: relative; */
  width: 100px;
}
.why-us__icon i {
  /* position: absolute; */
  font-size: 3rem;
  color: var(--blue);
  /* left: 50%; */
  /* top: 50%; */
}
.why-us__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 25px;
}

.why-title {
  font-weight: 600;
}

/* hero */
.hero__transfer {
  background: url("../img/about.jpg") no-repeat center;
  background-size: cover;
  padding: 3rem 0;
}

/* RESELLER PAGE */
.diskon .image-overlay {
  position: relative;
  /* opacity: 0.7; */
  transition: 0.3s;
}

.diskon .play {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--blue);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* comparasion */
.comparasion .accordion-button {
  font-weight: 600;
  font-size: 1.5rem;
}

/* daftar */
.daftar .reg {
  /* margin-bottom: -100px; */
}
.daftar .regg {
  color: #fff;
}
.daftar form {
  /* box-shadow: 0 0 5px 5px; */
  padding: 3rem 1rem;
  background-color: #fff;
}
.daftar .form-group {
  margin-bottom: 1rem;
}
.daftar .btd {
  margin-top: 2rem;
}
.daftar .form-label {
  font-size: 12px;
  color: green;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}
.daftar .form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}
.daftar .form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999;
}

/* langkah */
.steps h5 {
  font-weight: 600;
}
.deretan .af-icon {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.deretan .af-icon i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3rem;
  background: var(--blue);
}

/* cara transfer */
.number-circle {
  width: 50px;
  height: 50px;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  margin: auto;
  margin-bottom: -10px;
  position: relative;
  z-index: 99;
}
.cara__transfer .card {
  padding: 2rem 1rem;
}

/* berhasil */
.list__berhasil li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  margin: 0 5px 0 -30px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  color: var(--green);
  font-size: 16px;
}
/* why transfer */
.why-transfer {
  display: flex;
  margin-bottom: 1rem;
}
.why-transfer i {
  font-size: 1.5rem;
  margin-right: 1.8rem;
}

/* promo */
.promo .card-img-top {
  height: 200px;
}
.promo .card-footer {
  margin-top: 3rem;
}
/*======================================
//--//-->   NEWS - CARD-B
======================================*/
.card-header-b {
  padding: 1rem;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

@media (min-width: 768px) {
  .card-header-b {
    bottom: 0px;
  }
}

@media (min-width: 992px) {
  .card-header-b {
    bottom: 20px;
  }
}

.card-header-b .category-b {
  font-size: 0.9rem;
  background-color: #2eca6a;
  padding: 0.3rem 0.7rem;
  color: #313131;
  letter-spacing: 0.03em;
  border-radius: 50px;
  text-decoration: none;
}

.card-header-b .title-2 {
  margin-bottom: 0;
  padding: 0.6rem 0;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .card-header-b .title-2 {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .card-header-b .title-2 {
    font-size: 1.6rem;
  }
}

.card-header-b .title-2 a {
  color: #ffffff;
  text-decoration: none;
}

.card-header-b .date-b {
  color: #d8d8d8;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .card-header-b .date-b {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .card-header-b .date-b {
    font-size: 1rem;
  }
}

/*--------------------------------------------------------------
# Card General
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .card-box-a,
  .card-box-b,
  .card-box-c,
  .card-box-d {
    margin-bottom: 2.5rem;
  }
}

.card-box-a span,
.card-box-b span,
.card-box-c span,
.card-box-d span {
  line-height: 0;
}

@media (min-width: 768px) {
  .grid .card-box-a,
  .grid .card-box-b,
  .grid .card-box-c,
  .grid .card-box-d {
    margin-bottom: 2.5rem;
  }
}

.card-box-a,
.card-box-b,
.card-box-d {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-box-a .img-a,
.card-box-a .img-b,
.card-box-b .img-a,
.card-box-b .img-b {
  transition: 0.8s all ease-in-out;
}

@media (min-width: 768px) {
  .card-box-a:hover .img-a,
  .card-box-a:hover .img-b,
  .card-box-b:hover .img-a,
  .card-box-b:hover .img-b {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {
  .card-box-a .price-a,
  .card-box-b .price-a {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .card-box-a .price-a,
  .card-box-b .price-a {
    font-size: 1rem;
  }
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-shadow:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 27%,
    rgba(0, 0, 0, 0.65) 90%
  );
}

/*------/ News Single /------*/
.post-information {
  padding: 3rem 0;
}

.post-content {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.6;
}

.post-content .post-intro {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 4rem;
  line-height: 1.6;
  color: #000000;
  font-weight: 400;
}

.post-content p {
  margin-bottom: 1.7rem;
}

.post-content .blockquote {
  padding: 1rem 3rem 1.7rem 3rem;
  border-left: 3px solid #2eca6a;
  color: #000000;
}

.post-content .blockquote footer {
  text-align: left;
  padding: 0;
}

.post-footer {
  padding: 3rem 0 4rem;
}

.post-share .socials {
  display: inline-block;
}

.post-share .socials li {
  margin-left: 0.6rem;
}

/*------/ Comments /------*/
.box-comments .list-comments li {
  padding-bottom: 3.5rem;
}

.box-comments .list-comments .comment-avatar {
  display: table-cell;
  vertical-align: top;
}

.box-comments .list-comments .comment-avatar img {
  width: 80px;
  height: 80px;
}

.box-comments .list-comments .comment-author {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}

.box-comments .list-comments .comment-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 25px;
}

.box-comments .list-comments .comment-description {
  padding: 0.8rem 0 0.5rem 0;
}

.box-comments .list-comments a {
  color: #000000;
}

.box-comments .list-comments span {
  display: block;
  color: #2b2a2a;
  font-style: italic;
}

.box-comments .comment-children {
  margin-left: 40px;
}

/* kb */
.kb .box-3 {
  display: flex;
}
.kb .box {
  border: 1px solid #111;
  margin-bottom: 1rem;
}
.kb .box ul li {
  list-style: disc;
}
.kb .box a {
  color: #111;
}
